@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type=number] {
        -webkit-appearance: none;
        -moz-appearance: textfield;
        margin: 0;
    }
}

@layer components {
    .bg-inactive {
        @apply bg-adyen-grey
    }

    .bg-active {
        @apply bg-adyen-green
    }
}